body{
    color: #af4805;
    background-color: #f3f3f2;
    font-family: HelveticaNeueLTCom-ThCn;
}

#basic-addon1 b{
    color: #af4805;
}

#header{
}

#corps{
    font-size: 16px;
    color: black;
    text-align: center;
    background-color: #f3f3f2;
}

#footer{
}