body{
    color: #af4805;
    background-color: #f3f3f2;
    font-family: HelveticaNeueLTCom-ThCn;

}
#gg{
    margin: 0px;
    padding: 2px;
    border: 1px #eaeaea solid;
    border-radius: 5px;
}

#log{
    border: 2px solid #eaeaea;
    border-radius: 8px;
    margin: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#listDisplay{
    border: 2px solid #eaeaea;
    margin-left: 10px; 
    margin-right: 10px;
    padding: 10px;
}

#listDisplay b{
    color: #8e3c06;
}


#listDisplay #this img{
    width: 100%;
    border: 2px solid #eaeaea;
}

#this{
   
}
html{
    min-width: 300px;
}

#menuBar{
    font-size: 24px;
}

#basic-addon1 b{
    color: #9f540d;
}

#header{
    margin: 0px;
    text-align: center;
    background-color: #8e3c06;
    padding-top: 10px;
}

#header nav{
    background-color: #f3f3f2;
    margin-top: 10px;
}

#corps{  
    font-size: 16px;
    color: black;
    text-align: left;
}

#corps h2{
    color: #8e3c06;
}

#short{

    padding-top: 5px;
}

#descGene{
    border: 1px solid #cccccc;
    text-align: left;
    overflow: auto;    
    height: 300px;
}

a.back-to-top {
	display: none;
	width: 80px;
	height: 80px;
        margin-bottom: 100px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #8e3c06 url("../../Ressources/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

#navBar{
    
    padding-top: 5px;
    text-align: center;
}

#galMap{
    border: 1px solid #cccccc;
    margin: 10px;
    padding: 5px;
}

#googleMap{
    width: 100%;
    height:380px;
}

.imgNb{
    border: 1px solid black;
    display: inline-block;
    color: black;
    margin: 3px;
    padding: 4px;
}

.imgNb-active{
    border-color: #8e3c06;
    color: #8e3c06;
}

.imgNb:hover{
    background-color: #8e3c06;
    color: white;
} 

#men{
    margin: 10px;
}

#ooo{
    padding: 5px;
    text-align: left;
}

#fileList{
    border: 2px #eaeaea solid;
    text-align: left;
    float: left;
}

.thumbnail img{
    text-align: center;
}

#short{
    text-align: center;
    margin: 5px; 
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea; 
}

#obj3d{
    border: 1px solid #cccccc;
    height: 300px;
    margin-bottom: 45px;
}
#filter{
    margin-top: 0px;
    background-color: #8e3c06;
    color: white;
    border-top-left-radius: 5px;
    width: 100%;
}
#cadre{
    padding: 0px;
}



#corps img{
    float: right;
    padding: 10px;
}

#filterList{
    font-size: 100%;
    padding: 10px;
    text-align: left;
}

#scrollable{
    overflow: auto;
}

#filterList b{
    color: #8e3c06;
}

#table{
    border: 2px #eaeaea solid;
    text-align: left;
    width: 90%;
}
#table thead{
    background-color: #eaeaea;
}

#table th{
    color: #8e3c06;
}
#table select{
    width: 100%;
}

#hiddenBtn{
    border: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    display: inline-block;
    background: none;
}


#minDisplay b{
    color: #8e3c06;
}

#filterList ul{
    list-style-type: none;
}

#cadre:first-child{
    border-right: 1px solid #af4805;
    border-bottom: 1px solid #af4805;
}
#cadre:last-child{
    padding: 5px;
    text-align: justify;
}

#advSearch{
    background-color: white;
    border-radius: 3px;
    padding: 0px;
    text-align: center;
    -webkit-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
    -moz-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
    box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
}

#detailSearch{
    background-color: white;
    border-radius: 3px;
    padding: 0px;
    text-align: center;
    -webkit-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
    -moz-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
    box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
}

#detailSearch h3{
    color: #8e3c06;
    
}


#footer{
    background-color: #8e3c06;
    color: white;
    padding: 10px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 10;
}

